@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  background-color: wheat;
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
}

body {
  display: block;
  padding: 0;
}

.container {
  display: block;
  position: relative;
  width: 85vw;
  height: 200vh;
  overflow: hidden;
  display: block;
  z-index: 0;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: burlywood;
  border-left: 7px black solid;
  padding-left: 10px;
}

#menu-button {
  position: fixed;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 25px;
  color: antiquewhite;
  -webkit-text-stroke: 2px black;
  border-radius: 5%;
  outline: solid 2px black;
  z-index: 5;
  cursor: pointer;
}

.items-pc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60%;
  padding-top: 5px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.error {
  display: flex;
  flex: 1;
  flex-grow: 1;
  width: auto;
  max-width: 96%;
  max-height: 5%;
  flex-direction: column;
  background-color: rgb(77, 54, 43);
  color: rgb(255, 204, 204);
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid red;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}

.items-app {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  width: 100%;
  height: 40%;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
}

.card,
.duplicateable-pc {
  position: absolute;
  cursor: move;
  background: bisque;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: min-content;
  min-width: 300px;
  min-height: 150px;
  height: min-content;
  user-select: none;
}

.card {
  z-index: 3 !important;
}

.duplicateable-pc {
  outline: solid 2px black;
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}

.card h2 {
  background: bisque;
  margin-top: 0;
}

.card button,
p,
.duplicateable h2 {
  background: bisque;
  margin-top: 10px;
}

.debug-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: red;
  padding: 10px;
  z-index: 9999;
}

.node {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  align-items: center;
  position: absolute;
  cursor: move;
  background-color: burlywood;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: min-content;
  user-select: none;
  padding: 5px;
  z-index: 4 !important;
}

.inside {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  align-items: center;
  background-color: burlywood;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: min-content;
  user-select: none;
  padding: 5px;
  z-index: 1;
  margin-top: 5px;
}

.node h2,
.inside h2 {
  grid-column: 4 / 5;
  grid-row: 1;
  font-size: 25px;
  margin: 0;
  align-self: end;
  background-color: burlywood;
}
.node img,
.inside img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 60px;
  width: 60px;
  background-color: burlywood;
  margin-bottom: 5px;
}

.node .cpu,
.inside .cpu {
  font-size: 15px;
  grid-column: 1 / 4;
  grid-row: 2;
  margin: 0;
  background-color: burlywood;
  margin-bottom: 5px;
}

.node .memory,
.inside .memory {
  grid-column: 1 / 4;
  grid-row: 3;
  font-size: 15px;
  margin: 0;
  background-color: burlywood;
}

.node .power,
.inside .power,
.settings-btn {
  font-size: 20px;
  grid-column: 5;
  grid-row: 3;
  background-color: bisque;
  padding: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-btn {
  grid-column: 5;
  grid-row: 2;
}

.duplicateable-app {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  align-items: center;
  border-radius: 10px;
  background-color: burlywood;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: move;
  position: relative;
  height: min-content;
  min-width: 300px;
  outline: solid 2px black;
  margin: 10px;
  padding: 5px;
  user-select: none;
}

.duplicateable-app img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 60px;
  width: 60px;
  background-color: burlywood;
  margin-bottom: 5px;
}

.duplicateable-app h2 {
  grid-column: 4 / 5;
  grid-row: 1;
  font-size: 25px;
  margin: 0;
  align-self: end;
  background-color: burlywood;
}

.duplicateable-app .memory {
  grid-column: 1 / 4;
  grid-row: 2;
  font-size: 15px;
  margin: 0;
  background-color: burlywood;
}

.duplicateable-app .cpu {
  font-size: 15px;
  grid-column: 1 / 4;
  grid-row: 3;
  margin: 0;
  background-color: burlywood;
  margin-bottom: 5px;
}

.duplicateable-app .power {
  font-size: 20px;
  grid-column: 5;
  grid-row: 3;
  background-color: bisque;
  padding: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button-pc,
#cluster-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 10px auto;
  background-color: burlywood;
  border-radius: 5px;
  outline: solid 2px black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.duplicateable-app:hover,
.node:hover,
.duplicateable-pc:hover,
.card:hover,
#menu-button:hover,
#button-pc:hover,
.settings:hover,
#cluster-pc:hover {
  outline: solid 2px rgb(255, 255, 255);
}

#workspaces-wrap {
  width: 85vw;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 54, 43);
  z-index: -1;
  margin: 0;
}

#workspaces {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: min-content;
  height: 5vh;
  z-index: 3;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(77, 54, 43);
}

.workspace {
  position: relative;
  z-index: -1;
  width: min-content;
}

#delete-box {
  position: sticky;
  bottom: 0;
  left: 0;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: dotted 2px red;
  width: 250px;
  height: 250px;
  z-index: 2 !important;
}

#delete-box img {
  width: 75%;
  height: 75%;
  background: transparent;
  user-select: none;
}

#pc-create-ui,
#workspace-create-ui {
  position: absolute;
  top: 30%;
  left: 35%;
  background: burlywood;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: solid 2px rgb(77, 54, 43);
  width: 250px;
  height: 250px;
  visibility: hidden;
  transition: 0.3 ease-in-out;
  z-index: 10;
}

#pc-form {
  background-color: burlywood;
}

#workspace-form,
#pc-create-ui h2,
#workspace-create-ui h2,
#workspace-form p,
#pc-form p,
#workspace-form button #pc-form span {
  background-color: burlywood;
}

#process-holder {
  background: wheat;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: min-content;
  min-width: 300px;
  min-height: 150px;
  max-height: calc(3 * 150px);
  height: min-content;
  user-select: none;
  overflow-y: auto;
}


img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.node > .proc-id,
.inside > .proc-id {
  display: block;
  grid-column: 0 / 4;
  grid-row: 2;
  font-size: 14px !important;
  font-weight: bold;
  color: black;
  margin: 0;
  background-color: rgb(222, 184, 135) !important;
}

.inside > .settings-btn {
  visibility: visible;
}

.settings-btn {
  visibility: hidden;
}

.power:hover {
  color: rgb(215, 82, 82);
  outline: rgb(215, 82, 82) solid 2px;
}

.settings-btn:hover {
  color: rgb(57, 57, 232);
  outline: rgb(57, 57, 232) solid 2px;
}

.inactive {
  filter: grayscale(60%) brightness(80%);
  opacity: 0.7; 
}

.inside {
  transition: filter 0.3s, opacity 0.3s;
}

.power {
  filter: none;
}

prc {
  font-weight: bold;
  background-color: transparent;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: burlywood;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  border: 2px solid burlywood;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 54, 43);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: burlywood;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 300px;
}

.popup-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.popup-button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: bisque;
  font-size: 16px;
}

.popup-button:hover {
  background: rgb(214, 190, 150);
}

.popup-button-yes {
  background: lightgreen;
}

.popup-button-no {
  background: lightcoral;
}

.popup-button-yes:hover {
  background: green;
  color: white;
}

.popup-button-no:hover {
  background: red;
  color: white;
}


input[type="number"] {
  background-color: bisque;
  color: black;
  font-size: 16px;
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="number"]:focus {
  border-color: rgb(57, 57, 232);
  box-shadow: 0 0 8px rgba(57, 57, 232, 0.5);
}

input[type="number"]::placeholder {
  color: rgb(77, 54, 43);
  opacity: 0.8;
}

input[type="number"]:hover {
  border-color: rgb(77, 54, 43);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  background-color: transparent;
}

.cluster-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: burlywood;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 300px;
}

.cluster-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: lightcoral;
  color: white;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.popup-save {
  margin-top: 10px;
  background: lightgreen;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-save:hover {
  background: green;
  color: white;
}

.cluster-settings-card {
  background-color: bisque;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.cluster-settings-card > .popup-button {
  background-color: white;
}

.cluster-settings-card > .popup-button:hover {
  background-color: rgb(196, 196, 196);
}

.cluster-settings-card > ul,
.cluster-settings-card > ul > li,
.cluster-settings-card > h1 {
  background-color: transparent;
}

.cluster-settings-card > h1 {
  margin: 0px;
}

#cluster-settings {
  overflow: auto;
  max-height: 250px; 
}